div{
    background-color: rgba(255, 0, 0);
    height: 100px;
    width: 100px;
    margin: 10px;
    margin: 0 auto;
    transition: margin-top 1s ease-in 0.5s; 
    

}
   
div:hover{
    margin-top: 400px;
   background-color: pink; 
}
