 .container{
    height: 400px;
    width: 400px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px auto;
    background-color: white;
    
    
} 
.box{ 
    margin-top: 12px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: baseline; */
    padding-top: 10px;
    background-color: grey;
    text-align: center;
    font-size: 50px;
    flex-wrap: wrap;   
}   




.navi{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 900px;
    background-color: rgb(218, 228, 218);
    border: 2px solid rgb(188, 191, 188);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;

}
.nav{
    /* display: flex;
    flex-direction: row; */
    font-size: 24px;
    /* align-items: center; */
    /* justify-content: flex-start; */
    
    
}
