.container{
    border: 2px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
}
.head{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: black;
}
.nav{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 9;
    background-color: yellow;
}