.container{
    margin: 10px auto;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px ;
    grid-template-columns: 100px 100px 100px 100px;
    row-gap: 10px;
    column-gap: 10px;
    
    
    height: 395px;
    width: 430px;
    border: 2px solid black;
    /* border-radius: 10px; */
    background-color: wheat;

}
div{
    /* height: 50px;
    width: 50px; */
    background-color: grey;
    border: 2px solid black;
    /* border-radius: 10px; */

}
h1{
    text-align: center;
}