section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    transform: rotate(45deg);
    
}
div:nth-of-type(2n){
    background-color: yellow;
}
div:nth-of-type(2n+1){
    background-color: red;
}

 /* div{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    transition: ease-in 0.1s;
    display: inline-block;

 }
 div:hover{
    background-color: yellow;
    border-radius: 50%;
 }
 #a:hover{
    background-color: green;
    border-radius: 50%;
 }
 #b:hover{
    background-color: red;
    border-radius: 50%;
 }
 #c:hover{
    background-color: black;
    border-radius: 50%;
 }
  */
